

@media  screen and (min-width:768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        width: 100px;
        height: 100px;
        background-color: #3498db;
        color: #fff;
        text-align: center;
        font-size: 24px;
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    body {
        display: flex ;
        flex-direction : column ;
        align-items: center;
        background-color: palevioletred;
        font-size: 28px;
        div.container {
            div.box {
                height: 150px;
                width: 150px;
                background-color: #3498db;
                color: #fff;
                margin: 10px;
                text-align: center;
            }
        }
    }
} 