body {
    text-align: center;
    div.container {
        display: flex;
        justify-content: space-evenly;
        background-color: gray;
        width: 1000px;
        padding: 20px 0 20px;
        div.card {
            width: 200px;
            height: 150px;
            background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}